[user]
	name = Adrianna Chang
	email = adrianna.chang@shopify.com
[core]
	editor = code --wait
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	p = push
	ll = log --oneline
	d = diff
	sw = switch
	se = !git rev-list --all | xargs git grep -F
	aca = !git add -A && git commit --amend --no-edit\n
	rh = reset --hard
	ac = !git add -A && git commit
	br-clean = !git branch --merged | grep -v '^*\\|main\\|master' | xargs -r git branch -d
	po = !git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\"
	pushf = push --force
[hub]
	protocol = https
[pull]
	rebase = false
[init]
	defaultBranch = main
[help]
	autocorrect = "prompt"
[commit]
	verbose = true
[push]
	autoSetupRemote = true
[branch]
	autosetupmerge = always
[rebase]
	autosquash = true
