packages: [
  "atom-beautify"
  "atom-ide-ui"
  "busy-signal"
  "expose"
  "file-icons"
  "file-watcher"
  "go-debug"
  "go-imports"
  "go-plus"
  "go-signature-statusbar"
  "goto-definition"
  "intentions"
  "language-babel"
  "language-haskell"
  "language-javascript-jsx"
  "language-lua"
  "language-prolog"
  "language-pug"
  "linter"
  "linter-eslint"
  "linter-ruby"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
]
